.container{
    padding: 10px;
}
.content{
    padding: 5px;
    margin-bottom: 10px;
}
.chip-btn{
    margin-right: 8px;
    background-color: rgb(54, 54, 241) !important;
    color: white !important;
}
.chip-btn-sub{
    margin-right: 5px;
    background-color: rgb(245, 114, 67) !important;
    border: 1px solid rgb(228, 157, 131) !important;
    color: white !important;
}
.sel{
    background-color: rgb(119, 119, 228) !important;
    border: 1px solid rgb(119, 119, 228) !important;
}
.sel-sub{
    background-color: rgb(228, 157, 131) !important;
    border: 1px solid rgb(228, 157, 131) !important;
}
.card{
    border: 1px solid #d4d4d4;
    border-radius: 10px !important;
    padding: 5px 2px !important;
    background-color: #f7f4f4;
    margin-bottom:10px !important ;
}
.divider
{
    border: 1px solid #d2d2d2;
    height: 0px;
    margin-bottom: 5px;
}
.info{
    padding: 15px 20px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.label{
    font-weight: 600;
    
}