.underline
{
    border: 1px solid #BABABA;
    height: 0px;
    margin: 5px 0px;
}
.wrapperArea1{
  height: 100%;
}
.body{
    background-color: #f7efe3 !important;
}
.device_info_bar{
    height: 58px;
    flex: 5;
    display: flex;
    justify-content: space-between;
}
.info-chip{
  font-size: 14px;
  padding: 8px 6px;
  font-family: Nunito;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #323467;
  border-right: 1px solid #dcdcdc;
  background: linear-gradient(180deg, #F4F4F4 0%, #EBEBEB 100%);
}
.label-name{
  font-weight: 600;
}
.info{
  font-weight: 400;
}
.graph-category-bar{
  display: flex;
  flex: 3;
}
.graph-category{
  width: 100%;
}

.styleTrendLines {
    display: flex;
    float: right;
    z-index: 999;
    position: absolute;
    /* margin-left: 50%;
    margin-top: 28px; */
  }
  