.underline
{
    border: 1px solid #BABABA;
    height: 0px;
    margin: 5px 0px;
}
.graph-category-bar{
    height: 38px;
    flex: 3;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
}
.graph-category{
    padding: 8px;
    text-align: center;
    font-size: 16px;
    color: #323467;
    background: #FCFCFC;
    box-shadow: 0px 2px 10px rgba(48, 74, 93, 0.15);
    border-radius: 3px;
    cursor: pointer;
}
.graph-container{
  height: 100%;
  display: flex;
}
.graph-tile{
  height: 500px;
}

.styleTrendLines {
    display: flex;
    float: right;
    z-index: 999;
    position: absolute;
    /* margin-left: 50%;
    margin-top: 28px; */
  }
  